Body{
	Padding:0;
	Margin:0;
	background: black url(../Imagenes/main_back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
bsody:before{
	content: "rfedw";
	width: 100%;
	position: fixed;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);;
}
#container{
	padding-top: 7%;
		display: inline-flex;
		width: 100%;
}
#main{
	    background-color: #0f133e;
    width: 69%;
    margin-top: 0%;
    margin-left: 25%;
    border-radius: 0.3rem;
    padding-bottom: 3%;    
}
.image_desc{
	width:100%;
	height: 282px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

}
.movie{
	width: 20%;
	display: inline-flex;
	margin: 3% 1% 0% 3%;
}
.font_style{
	 font-family:Elephant;
	 color:#ffa903;
}

#sidebar{
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #0f133e;
	margin-top: -0.36%;
	box-shadow: 0 0.1875rem 1rem rgba(34,34,34,.74);
	overflow: auto;
}
#categories{
	width: 100%;
}
#categories ul{
	display: inline-flex;
	list-style: none;
	margin-left: -10%;
	border-bottom: 1px solid black;

}
.image_cat{
	width: 20%;
}
.image_cat_inner{
	width:100%;
}
.title_cat{
	margin-left: 2%;
	width: 40%;
}
.count_cat{
	margin-left: 2%;
	width: 40%;
}
::-webkit-scrollbar {
  width: 0.333rem;
}
::-webkit-scrollbar-track {
  background: #ffa903; 
}
::-webkit-scrollbar-thumb {
  background: #04082b; 

}
::-webkit-scrollbar-thumb:hover {
  background: #0e3fa9; 
}
.movie_inner{
	display: inline-block;
}
.image_desc:hover{
	transition: 0.2s;
	box-sizing: border-box;
	border:1px dashed #ffa903;
}
.movie_info{
	    margin-top: -2%;
    background-color: #07128a;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
	border-bottom: 4px solid rgba(0,0,0,0.1);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.calification_movie{
	
}
#title_recent{
	text-align: center;
}